:root{
    --white: #fff;
    --black: #000;
    --dark-primary-color: #004ecb;
    --light-primary-color: #75a7ff;
    --extra-color: #fe00f0;
    --dark-secondary-color: #c79a00;
    --light-secondary-color: #fffd61;
    --accent-color: #ffd54f;
    --primary-color: #2979ff;
    --primary-text-color: #212121;
    --text-font: 'Roboto', sans-serif;
    --heading-font: 'open sans', sans-serif;
}

/* --white: #fff;
--black: #000;
--dark-primary-color: #512DA8;
--light-primary-color: #D1C4E9;
--extra-color: #fe00f0;
--accent-color: #FFC107;
--primary-color: #673AB7;
--primary-text-color: #212121;
--text-font: 'Roboto', sans-serif;
--heading-font: 'open sans', sans-serif; */


body{
    box-sizing: border-box;
    background-color: var(--dark-primary-color);
    font-family: var(--text-font);
}

main{
    
    min-height: 80%;
    box-sizing: border-box;
    background-color: var(--light-primary-color);
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
}

.bgimg{
    background-image: url(../images/GeoMadnessB&Wcroppedresized.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--accent-color);
    padding: 15px;
}


#home{
    background-color: var(--accent-color);
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--primary-text-color);
    text-align: center;
}


nav a, .button{
    padding: 10px 20px;
    margin-left: 20px;
    color: #0a0a0a;
    background: #27e7f8;
    border: 2px solid var(--dark-primary-color);
    text-decoration: none;
    border-radius: 10px;
}

nav a:hover, .button:hover{
    color: #020202;
    background: #f3f3ef;
}


h1{
    color: var(--primary-text-color);
    font-family: var(--heading-font);
    text-align: right;
}
h2{
    color: var(--primary-text-color);
    font-family: var(--heading-font);
    text-align: center;
    font-size: 25px;
}

#center{
    text-align: center;
    font-size: 50px;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.banner{
    background-color: var(--light-primary-color);
    color: var(--black);
    padding: 15px;
    
}

.container{
    min-height: 50%;
    min-width: 100%;
    background: #d9f2f8;
    width: 80%;
    max-width: 1000px;
    margin: 10px auto;
}

.flip-card {
    margin-left: 600px;
    background-color: transparent;
    width: 500px;
    height: 500px;
    perspective: 1000px;
    }
    
    .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    }
    
    .flip-card-front {
    background-color: #bbb;
    color: black;
    }
    
    .flip-card-back {
    background-color: var(--dark-primary-color);
    color: white;
    transform: rotateY(180deg);
    }


footer{
    margin-top: 50px;
    min-height: 60px;
    border: 10px solid gold;
    padding: 10px;
    background-color: white;
    width: 80%;
    margin: 10px auto;
    border-radius: 15px;
}


#home_img_aside{
    overflow: hidden;
    float: left;
    max-width: 50%;
    height: auto;
    border: 2px solid #82e9de;
    border-radius: 10px;
}

.main>#home_img_main{
    text-align: left;

    max-width: 30%;
    height: auto;
    border-radius: 10px;
    
}

.div1{
    text-align: center;
    float: left;
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #82e9de;
    margin: auto;
}

p{
    text-align: justify;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#p1{
    float: center;
    text-align: center;
    display: block;
    margin-left: 800px;
    margin-right: auto;

    
    border: 10px solid gold;

    padding: 10px;
    background-color: white;
    width: 40%;
    height: 50%;
    border-radius: 15px;

}

#p2{
    margin-top: 100px;
    text-align: center;
}

section{
    padding: 10px;
    margin: 10px;
    border: 2px var(--accent-color);
    border-radius: 10px;

}

